<?xml version="1.0"?>
<robot name="wheelchair_base" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="/home/makafly/Desktop/ResearchNav2/src/nav2_sample/urdf/wc_property.xacro"/>

  <link name="base_footprint" />

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0 0 ${(big_wheel_radius+wheel_zoff)}" rpy="0 0 0" />
  </joint>

  <!-- base link -->
  <link name="base_link">
    <visual>
      <origin xyz="0.0 0.025 0.0" rpy="${pi/2} 0 ${-pi/2}" />
      <geometry>
        <mesh filename="package://nav2_sample/meshes/robot_base.STL" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
      </geometry>
    </collision>
    <xacro:box_inertia m="40.0" w="${base_width}" d="${base_length}" h="${base_height}"/>
  </link>

  <!-- laser joint -->
  <joint name="laser_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser_link" />
    <origin xyz="0.0 0.25 0.1" />
  </joint>

  <!-- laser link -->
  <link name="laser_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.02" radius="0.02" />
      </geometry>
      <material name="black" />
    </visual>
    <xacro:cylinder_inertia m="40.0" r="0.02" h="0.02"/>
  </link>

  <!-- imu joint -->
  <joint name="imu_joint" type="fixed">
    <parent link="laser_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0.01" />
  </joint>

  <link name="imu_link">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.02 0.02 0.02" />
      </geometry>
      <material name="orange" />
    </visual>
    <xacro:box_inertia m="40.0" w="0.02" d="0.02" h="0.02"/>
  </link>

  <xacro:wheel prefix="left_wheel" x_reflect="-1" y_reflect="1" />
  <xacro:wheel prefix="right_wheel" x_reflect="-1" y_reflect="-1" />

  <xacro:samll_wheel prefix="left_small_wheel" x_reflect="-1" y_reflect="1" />
  <xacro:samll_wheel prefix="right_small_wheel" x_reflect="-1" y_reflect="-1"/>

</robot>